<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
      <client>
        <endpoint address="http://localhost:8029/SurveyService"
                    binding="wsHttpBinding"
                    contract="LetsTalk.Client.Contracts.ISurveyService"/>
        <endpoint address="http://localhost:8029/AuthenticationService"
                  binding="wsHttpBinding"
                  contract="LetsTalk.Client.Contracts.IAuthenticationService"/>
        <endpoint address="http://localhost:8029/ClientService"
                  binding="wsHttpBinding"
                  contract="LetsTalk.Client.Contracts.IClientService" />

      </client>
      <bindings>
        <wsHttpBinding>
          <binding transactionFlow="true" maxReceivedMessageSize="2000000"/>
        </wsHttpBinding>
      </bindings>
    </system.serviceModel>
</configuration>