<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connectionStrings>
    <add name="LetsTalk_Survey"
         connectionString="Server=DESKTOP-0926VF9\SQLEXPRESS;Database=LetsTalk_Authentication;User Id=LetsTalk; password=LetsTalk;Trusted_Connection=True;MultipleActiveResultSets=true"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
