<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <Target>
      <endpoint address="http://localhost:8029/SurveyService.svc"
                  binding="wsHttpBinding"
                  contract="LetsTalk.Business.Contracts.ISurveyService"/>
      <endpoint address="http://localhost:8029/AuthenticationService.svc"
                binding="wsHttpBinding" 
                contract="LetsTalk.Business.Contracts.IAuthenticationService"/>
    </Target>
    <bindings>
      <wsHttpBinding>
        <binding transactionFlow="true" maxReceivedMessageSize="2000000"/>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>