<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MessageForwardingInCaseOfFaultConfig" type="NServiceBus.Config.MessageForwardingInCaseOfFaultConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core" />
    <section name="AuditConfig" type="NServiceBus.Config.AuditConfig, NServiceBus.Core" />
  </configSections>
   <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener,              Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral,              PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
 
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
  </system.web>
  <connectionStrings>
    <add name="NServiceBus/Transport" connectionString="host=localhost" />
  </connectionStrings>
  <MessageForwardingInCaseOfFaultConfig ErrorQueue="error" />
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Assembly="LetsTalk.Core.Kernel" Namespace="LetsTalk.Core.Kernel.Messages.Authentication" Endpoint="Authorization@localhost" />
    </MessageEndpointMappings>
  </UnicastBusConfig>
  
  
  <system.serviceModel>
    <services>
      <service name="LetsTalk.Business.Managers.SurveyManager">
        <endpoint address="http://localhost:8029/SurveyService.svc" binding="wsHttpBinding" contract="LetsTalk.Business.Contracts.ISurveyService" />
      </service>
      <service name="LetsTalk.Business.Managers.AuthenticationManager">
        <endpoint address="http://localhost:8029/AuthenticationService.svc" binding="wsHttpBinding" contract="LetsTalk.Business.Contracts.IAuthenticationService" />
      </service>
      <service name="LetsTalk.Business.Managers.TargetManager" behaviorConfiguration="behave">
        <endpoint address="http://localhost:8029/TargetService.svc" binding="wsHttpBinding" contract="LetsTalk.Business.Contracts.ITargetService" />
      </service>
      <service name="LetsTalk.Business.Managers.TelephonyManager">
        <endpoint address="http://localhost:8029/TelephonyService.svc" binding="wsDualHttpBinding" contract="LetsTalk.Business.Contracts.ITelephonyService" />
    
      </service>
    </services>
    <bindings>
      <wsDualHttpBinding>
        <binding transactionFlow="true" maxReceivedMessageSize="2000000">
          <security mode="Message">
            
          </security>
        </binding>
      </wsDualHttpBinding>
      <wsHttpBinding>
        <binding transactionFlow="true" maxReceivedMessageSize="2000000" />
      </wsHttpBinding>
      <mexHttpBinding>
        <binding />
      </mexHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behave">
          <!-- To avoid disclosing metadata information, set the value below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
    -->
    <directoryBrowse enabled="true" />
  </system.webServer>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />

      </dependentAssembly>

      <dependentAssembly>

        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>
